html, body {
  position: relative;
  height: 100%;
}
body {
  background-image: url("../../public/images/imgpsh_fullsize.png");
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  background-color: #f4f4f4;
  line-height: 1.5;
  color: #333333;
}

.sample-app-content {
  height: 100%;
}

.content {
  margin-top: 50px;
  height: inherit;
  background-color: transparent;
  color: #fff !important; }

.navbar-autoIQ {
  background-color: #07B576;
  border-color: #fff; }

.autoIQ-text {
  color: #fff; }

.nopadding {
  padding-left: 0px !important;
  padding-right: 0px !important; }

.login-container{
  position: relative;
  margin: 0px auto;
  padding: 0px 40px 0px 40px;
  text-align: center;
  color: #fff;
}

#output{
  position: absolute;
  width: 300px;
  top: -75px;
  left: 0;
  color: #fff;
}

#output.alert-success{
  background: rgb(25, 204, 25);
}

#output.alert-danger{
  background: rgb(228, 105, 105);
}
/*New style css*/
.vertical-center {
  height:100%;
  width:100%;
}
.vertical-center > .container {
  max-width: inherit;
  margin-top: 20%;
  width: inherit;
  display: inline-block;
  vertical-align: middle;
}
.left-box{
  border-right: 2px solid #fff;
}
.right-box{
  border-left: 2px solid #fff;
}
.btn-autoIQ{
  color: #fff;
  background-color: #008b63;
  border-color: #007963;
}
.info-glyphicon{
  margin-top: 30px;
  color:#fff;
  .glyphicon {
    font-size: 40px;
  }
}