html, body {
  position: relative;
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
}
.container-fluid{
  height: 100%!important;
}

.sample-app-content {
  height: 100%;
}

.content {
  margin-top: 50px;
  height: inherit;
  background-color: transparent;
  color: #fff !important;
}

.autoiq-text {
  color: #fff;
}
.autoiq-larger-text{
  font-size: 16px;
}
.text-default{
  color: #666;
}

.no-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.information-container{

}
.home-content{
  //background: transparent !important;
}

footer{
  border-left: 2px solid #fff;
}
.theme-selector {
  margin-right: 20px;
}
.error-box{
   padding-top: 5px;
   color: #ffffff;
   background-color: #ff4f85;
   border-radius: 4px;
   height: 34px;font-size: 14px;
   text-align: center;
}
